{% load static %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ثبت نام پزشکان</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="pen-title">
  <h1>سامانه ثبت نام پزشکان</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">ثبت نام جدید</div>
  </div>
  <div class="form">
    <h2> ورود به پروفایل</h2>
    <form>
      <input type="text" placeholder="نام کاربری"/>
      <input type="password" placeholder="رمزعبور"/>
      <button>ورود</button>
    </form>
  </div>
  <div class="form">
    <h2>ثبت نام جدید</h2>
     <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="ثیت نام" />
</form>

  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
